 .post-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 7px solid #2c3e50;
   border-radius: 7px;
   padding: 15px;
   margin: 10px;
   background-color: #45484f;
   color: #BBB;
 }

 .post-form input[type=text] {
   padding: 5px 8px;
   box-sizing: border-box;
 }

 .close-button {
   cursor: pointer;
   align-self: flex-end;
   background-color: transparent;
   border: none;
 }

 .post-form-container {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .buttons {
   color: #111;
 }

 label {
   margin: 10px;
 }

 input {
   margin-left: 10px;
   color: #111;
 }

 .submit {
   color: #FFF;
 }

 .dropzone {
   background-color: #1bb76e;
 }
